* {
  padding: 0;
  margin: 0;
  /* border: 1px solid gray; */
}

.App {
  padding: 20px;
}

.heading {
  text-align: center;
  font-family: "Caveat";
  font-size: 2.4rem;
  color: #227a8a;
}
.header {
  margin-top: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-heading {
  font-size: 1.4rem;
}

.add-btn {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background-color: #227a8a;
  color: #fff;
  border-radius: 4px;
  justify-content: space-evenly;
  width: 130px;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.menus-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  color: #227a8a;
  margin-right: 0.8rem;
}

.list {
  color: black;
}

.filters-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.8rem;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 300px;
  padding: 0px 6px;
  border: 1px solid gray;
}
.search-input {
  padding: 6px;
}
.search-icon {
  width: 30px;
  height: 30px;
  color: #227a8a;
}
.search {
  border: none;
  outline: none;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.page-no {
  margin: 0px 10px;
  color: black;
  font-weight: 600;
}
.page-nav-btn {
  color: #227a8a;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 4px;
  cursor: pointer;
}

.filter-toggle {
  color: #227a8a;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid gray;
}
.filter-icon {
  width: 30px;
  height: 30px;
}
.main-content {
  display: flex;
  margin-top: 1.6rem;
}

.table-form {
  flex: 1;
}

/* Media Query Styles */
/* Responsive */
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
  .search-container {
    width: 140px;
  }
  .icon {
    width: 15px;
    height: 15px;
  }
  .filter-icon {
    width: 20px;
    height: 20px;
  }
  .page-nav-btn {
    padding: 2px;
  }
  .page-no {
    font-size: 0.6rem;
    margin: 0;
  }
  th {
    font-size: 0.6rem;
  }
  td {
    font-size: 0.6rem;
  }
  .edit-btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: black;
  }
  .delete-btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: black;
  }
}
